<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= extra.home.name %> - Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= extra.faviconlink %>"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link type="text/css" href="./assets/<%= theme %>/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="./assets/<%= theme %>/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="./assets/<%= theme %>/vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="./assets/<%= theme %>/css/volt.css" rel="stylesheet">
</head>

<body>

    

    <main>

        <!-- Section -->
        <section class="vh-lg-100 bg-soft d-flex align-items-center my-4">
            <div class="container">
                <p class="text-center"><a href="./" class="text-gray-700"><i class="fas fa-angle-left me-2"></i> Back to homepage</a></p>
                <div class="row justify-content-center form-bg-image" data-background-lg="./assets/<%= theme %>/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border border-light rounded p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="h3">Privacy Policy</h1>
                                <p class="text-gray"><%= extra.tap.privacy %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

     <!-- Js -->
<script src="./assets/<%= theme %>/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="./assets/<%= theme %>/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./assets/<%= theme %>/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="./assets/<%= theme %>/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="./assets/<%= theme %>/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="./assets/<%= theme %>/vendor/chartist/dist/chartist.min.js"></script>
<script src="./assets/<%= theme %>/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="./assets/<%= theme %>/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="./assets/<%= theme %>/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="./assets/<%= theme %>/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="./assets/<%= theme %>/vendor/notyf/notyf.min.js"></script>
<script src="./assets/<%= theme %>/vendor/simplebar/dist/simplebar.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="./assets/<%= theme %>/assets/js/volt.js"></script>
    
</body>

</html>
